<html>
    <head>
        <title>home</title>
        <link rel="stylesheet" href="static/css/home.css">
    </head>
    <body>
        <div>
            <div id="header"><h1>{{user.username}}</h1></div>
            <div id="content">
                    <ul id="menubar">
                        <li><a href="home">Home</a></li>
                        <li><a href="all">All Record</a></li>
                        
                        <li><a href="userlogout">Logout</a></li>
                    </ul>
                </div>
                <div id="content1">
                    {% block content1 %}{% endblock content1 %}
                </div>
            </div>
            <div id="footer">{% block footer %}{% endblock footer %}</div>
        </div>
    </div>
    </body>
</html>
